<div class="container-fluid">
	<div class="row" ng-repeat="book in bookCtrl.gotBookData | filter:nameSearch | orderBy:orderByField:reverseSort">
	<div class="col-lg-12 col-md-12 col-sm-12">
 		<div class="card text-center mt-1 mb-1">
			<h3 class="card-header card-info">{{$index+1}}) {{book.name}}</h3>
			<div class="card-block">
				<p class="card-text">Published By</p>
			    <h4 class="card-title" ng-repeat="aut in book.authors">{{aut}}</h4>
			    <p class="card-text">Released On : {{book.released | date:medium}}</p>
			</div>
			<div class="card-footer bg-dark">
			  	<a href='#!books/{{book.url.split("/").pop()}}' class="btn btn-info">Book Info</a>
			</div>
		</div>
 	</div>
 	</div>	
</div>